html, body{
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    background: #2A2A2A;
    padding: 20px;
    border-radius: 12px;
    width: 320px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.card form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card input {
    width: 80%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #444;
    border-radius: 8px;
    font-size: 14px;
    background-color: #2A2A2A;
    color: #ff2d6d;
}
.card button {
    width: 80%;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    background: #ff2d6d;
    color: #FFFFFF;
    cursor: pointer;
}
.card h2 {
    margin: 0px 0px 15px 0px;
    font-size:30px;
    color: #FFFFFF;
}
.card input:focus {
    outline: none;
    border-color: #ff2d6d;
}
.card input::placeholder {
    color:#888;
}
.card button:hover{
  transform: translateY(-2px);
  box-shadow: 0 10px 22px rgba(108,92,231,0.16);
}