:root{
    --rosa-carmin: #ff2d6d;
    --branco: #FFFFFF;
    --roxo: #6c5ce7;
}
html, body{
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: linear-gradient(to right, #ff2d6d, #6c5ce7);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    background: var(--branco);
    padding: 20px;
    border-radius: 12px;
    width: 320px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.card input {
    width: 100%;
    padding: 10px;
    margin: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
}
.card button {
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    background: var(--roxo);
    color: var(--branco);
    cursor: pointer;
}